
         <div class = "col-md-6 ">
             <img _ngcontent-c1="" class="background" src="../../../assets/background2.jpg" style="
    height: 600px;
    float: right;
    margin-top: 80px;
">
          </div>
          <div class="col-md-4 ">
            <div class="login-card">
              <div class="card-block">

                  <form >
                    <h3 align="left">Whatgram</h3>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px">
                          Login with Email
                        </button>
                    </div>
                    

                    <div class="form-group">
                        <button type="buton" class="btn btn-blue btn-block" (click)="signInWithFacebook()">
                          <i class="fa fa-facebook" aria-hidden="true"></i> 
                          Login with Facebook
                        </button>

                        <button type="button" class="btn btn-red btn-block" (click)="signInWithGoogle()">
                          <i class="fa fa-google" aria-hidden="true"></i>
                          Login with Google
                        </button>
                    </div>                  
                  </form>
                  
              </div>
            </div>
          </div>

 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>